{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

if test ! $(which brew); then
   printf '\n\n\e[33mHomebrewが見つかりません。 \e[0mHomebrewをインストールします...'
   /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
else
  printf '\n\n\e[0mHomebrewが見つかりました。続行します...'
fi

# Homebrewパッケージを更新
printf '\nHomebrewの更新を開始します...\n'
brew update

printf '\n\n古いパッケージを削除しています...\n'
brew cleanup

{{ end -}}
